body {
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  font-family: 'Roboto', sans-serif !important;
}

html, body. div{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
